@model string
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "IndexPage";
}

<h1>@ViewData["Title"]</h1>
<h2>@base.ViewBag.User1</h2>
<h2>@base.ViewData["User2"]</h2>
<h2>@base.TempData["User3"]</h2>
<h2>@Model</h2>

<h2>@base.Context.Session.GetString("User4")</h2>